table{
    width: 100%;
    font-family: "Roboto", Arial;
    font-size: 7pt;
}

tbody td{
    padding: 3px;
    line-height: 9pt;
    text-align: center;
    border: solid 1px silver;
}

th{
    padding: 5px;
    font-size: 6pt;
    font-weight: bold;
    border: solid 1px silver;
}


.texto-esquerdo{
    text-align: left !important;
}

tbody tr:nth-child(2n-1){
    background-color: #cccccc;
}

.no-print{
    display: none !important;
}

tfoot tr td{
    padding: 15px;
    border: solid 1px silver;
    background-color: #DDD;
}

tfoot tr td ul li{
    list-style: none !important;
    text-align: left;
}